fastapi
uvicorn[standard]

sqlalchemy
greenlet
psycopg[binary]

alembic

pydantic
pydantic-settings
email-validator

qdrant-client

redis

feedparser

google-generativeai

apscheduler

python-dotenv
python-multipart

pytest
pytest-asyncio
httpx